In [1]:
#テスト
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
train.drop(["PassengerId", "Name", "Ticket"], axis=1, inplace=True)
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [7]:
test.drop(["PassengerId", "Name", "Ticket"], axis=1, inplace=True)
test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  34.5      0      0   7.8292   NaN        Q
1       3  female  47.0      1      0   7.0000   NaN        S
2       2    male  62.0      0      0   9.6875   NaN        Q
3       3    male  27.0      0      0   8.6625   NaN        S
4       3  female  22.0      1      1  12.2875   NaN        S

In [8]:
label = train["Survived"]
train.drop(["Survived"], axis=1, inplace=True)

In [9]:
train.shape
train.dtypes

Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [10]:
cat_feat = ["Pclass", "Sex", "Cabin", "Embarked"]
for i in cat_feat :
    train[i] = train[i].astype("category")
    test[i] = test[i].astype("category")

In [11]:
train.shape
train.dtypes

Pclass      category
Sex         category
Age          float64
SibSp          int64
Parch          int64
Fare         float64
Cabin       category
Embarked    category
dtype: object

In [12]:
X_train, X_valid, y_train, y_valid = train_test_split(train, label)

In [13]:
lgb_train = lgb.Dataset(X_train, y_train, categorical_feature=cat_feat)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train, categorical_feature=cat_feat)

params = {
    "objective" : "binary",
    "metric" : "binary_logloss",
    "early_stopping_round" : 10
}

In [14]:
model = lgb.train(params, lgb_train, valid_sets=[lgb_train, lgb_eval])

[LightGBM] [Info] Number of positive: 264, number of negative: 404
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.008321 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 205
[LightGBM] [Info] Number of data points in the train set: 668, number of used features: 8
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.395210 -> initscore=-0.425466
[LightGBM] [Info] Start training from score -0.425466
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[1]	training's binary_logloss: 0.623907	valid_1's binary_logloss: 0.613454
Training until validation scores don't improve for 10 rounds
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[2]	training's binary_logloss: 0.585643	valid_1's binary_logloss: 0.583028
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[3]	training's binary_logloss: 0.552276	valid_1's binary_logloss: 0.558262
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[4]	training's binary_logloss: 0.525305	valid_1's binary_logloss: 0.537285
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[5]	training's binary_logloss: 0.501463	valid_1's binary_logloss: 0.519894
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[6]	training's binary_logloss: 0.481578	valid_1's binary_logloss: 0.504754
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[7]	training's binary_logloss: 0.46398	valid_1's binary_logloss: 0.490515
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[8]	training's binary_logloss: 0.447936	valid_1's binary_logloss: 0.480359
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[9]	training's binary_logloss: 0.434166	valid_1's binary_logloss: 0.470534
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[10]	training's binary_logloss: 0.421618	valid_1's binary_logloss: 0.464886
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[11]	training's binary_logloss: 0.41122	valid_1's binary_logloss: 0.456871
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[12]	training's binary_logloss: 0.398231	valid_1's binary_logloss: 0.449697
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[13]	training's binary_logloss: 0.387441	valid_1's binary_logloss: 0.444294
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[14]	training's binary_logloss: 0.378452	valid_1's binary_logloss: 0.441309
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[15]	training's binary_logloss: 0.370364	valid_1's binary_logloss: 0.435997
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[16]	training's binary_logloss: 0.363593	valid_1's binary_logloss: 0.431687
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[17]	training's binary_logloss: 0.357179	valid_1's binary_logloss: 0.428662
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[18]	training's binary_logloss: 0.350906	valid_1's binary_logloss: 0.428024
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[19]	training's binary_logloss: 0.34455	valid_1's binary_logloss: 0.428247
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[20]	training's binary_logloss: 0.339786	valid_1's binary_logloss: 0.428805
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[21]	training's binary_logloss: 0.334844	valid_1's binary_logloss: 0.429053
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[22]	training's binary_logloss: 0.330434	valid_1's binary_logloss: 0.429558
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[23]	training's binary_logloss: 0.325678	valid_1's binary_logloss: 0.431234
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[24]	training's binary_logloss: 0.321491	valid_1's binary_logloss: 0.431019
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[25]	training's binary_logloss: 0.316313	valid_1's binary_logloss: 0.430171
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[26]	training's binary_logloss: 0.30981	valid_1's binary_logloss: 0.431197
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[27]	training's binary_logloss: 0.306411	valid_1's binary_logloss: 0.431598
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[28]	training's binary_logloss: 0.303331	valid_1's binary_logloss: 0.432362
Early stopping, best iteration is:
[18]	training's binary_logloss: 0.350906	valid_1's binary_logloss: 0.428024

/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:2065: UserWarning: Using categorical_feature in Dataset.
  _log_warning('Using categorical_feature in Dataset.')
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

In [15]:
val_pred = model.predict(X_valid, num_iteration=model.best_iteration)
val_pred

array([0.43674035, 0.72414542, 0.50099581, 0.27496062, 0.06736322,
       0.87478528, 0.28055904, 0.39190555, 0.07307171, 0.22523764,
       0.09565072, 0.19626125, 0.29877477, 0.1760157 , 0.16526904,
       0.1898221 , 0.24135964, 0.29877477, 0.50099581, 0.72414542,
       0.5657959 , 0.74704714, 0.33126596, 0.25769792, 0.23880455,
       0.80492865, 0.18338437, 0.44184911, 0.1277235 , 0.22568647,
       0.22084246, 0.21926572, 0.17936653, 0.0984209 , 0.22148818,
       0.36761872, 0.55736612, 0.27317547, 0.37691844, 0.07307171,
       0.74704714, 0.85816109, 0.26096738, 0.24636486, 0.07895609,
       0.39190555, 0.44841784, 0.18222185, 0.14721567, 0.14451304,
       0.17259894, 0.886881  , 0.18176565, 0.0619277 , 0.90694671,
       0.15041292, 0.74704714, 0.27317547, 0.35128766, 0.16660059,
       0.39190555, 0.16753494, 0.11896372, 0.23980436, 0.88059413,
       0.11190707, 0.32540456, 0.5657959 , 0.87237029, 0.88802046,
       0.06093598, 0.27186061, 0.14006588, 0.08837079, 0.08621436,
       0.09565072, 0.89022211, 0.10675329, 0.15805094, 0.52680256,
       0.18338437, 0.56366494, 0.20544371, 0.16526904, 0.22148818,
       0.15568345, 0.88059413, 0.15306785, 0.24440562, 0.16526904,
       0.54237689, 0.21981671, 0.70159573, 0.33815137, 0.1670398 ,
       0.11422415, 0.07939683, 0.13661921, 0.53902314, 0.17846506,
       0.0817885 , 0.74704714, 0.07041551, 0.87719008, 0.07307171,
       0.24440562, 0.21981671, 0.06239305, 0.06627211, 0.70447313,
       0.42192328, 0.32648096, 0.1277235 , 0.90694671, 0.86739075,
       0.26183261, 0.11456418, 0.72414542, 0.87237029, 0.72856222,
       0.24414472, 0.58846644, 0.14428171, 0.0867784 , 0.87944439,
       0.09221629, 0.88587661, 0.130421  , 0.15041292, 0.1277235 ,
       0.22084246, 0.886881  , 0.06093598, 0.22568647, 0.10675329,
       0.88802046, 0.13096296, 0.14446552, 0.32648096, 0.10535005,
       0.22568647, 0.07939683, 0.82123749, 0.61526749, 0.43674035,
       0.2032269 , 0.87478528, 0.30803374, 0.14387694, 0.29943343,
       0.39190555, 0.70447313, 0.21981671, 0.22568647, 0.14446552,
       0.55736612, 0.09075042, 0.56366494, 0.08621436, 0.15933065,
       0.88082188, 0.84923725, 0.22568647, 0.50278819, 0.191002  ,
       0.87719008, 0.88438818, 0.21192566, 0.88893617, 0.21511148,
       0.85164056, 0.15264363, 0.13565594, 0.06009987, 0.27668312,
       0.74704714, 0.24538595, 0.22466561, 0.23879902, 0.09075042,
       0.17259894, 0.87936716, 0.88889712, 0.36190401, 0.42069369,
       0.23980436, 0.37235831, 0.07307171, 0.12229021, 0.42192328,
       0.1277235 , 0.79219989, 0.36190401, 0.57528967, 0.50278819,
       0.11456418, 0.2212758 , 0.90694671, 0.3440413 , 0.70943287,
       0.87719008, 0.56232409, 0.88889712, 0.22568647, 0.21372345,
       0.13769196, 0.86575604, 0.08125713, 0.90375381, 0.67721083,
       0.09221629, 0.2274725 , 0.21607581, 0.43674035, 0.55736612,
       0.06085599, 0.90694671, 0.88646318, 0.70093042, 0.40527939,
       0.86069916, 0.11899724, 0.49052407])

In [16]:
val_pred = np.where(val_pred < 0.5, 0, 1)
acc = accuracy_score(y_valid, val_pred)
acc

0.8385650224215246

In [17]:
test_pred = model.predict(test, num_iteration=model.best_iteration)
test_pred = np.where(test_pred < 0.5, 0, 1)
test_pred

array([0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [18]:
sub = pd.read_csv("../input/titanic/gender_submission.csv")

In [19]:
sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [20]:
sub["Survived"] = test_pred
sub

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [21]:
sub.to_csv("submission.csv", index=False)